<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>班级说说</title>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/toptip/toptip.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--头部-->
<%include head.ejs%>
<div >
    <div class="container theme-showcase" role="main">
        <div class="row" style="padding-top:100px;padding-bottom:20px;">
            <%for(var i = 0 ; i < users.length ; i++){%>
            <div class="media" style="border-bottom:1px dashed #ccc;padding-bottom:5px;">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/<%=users[i].avatar%>" alt="..." style="width:90px;border-radius:45px/45px;">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading username"><%=users[i].username%></h4>
                </div>
            </div>
            <%}%>
        </div>
    </div> <!-- /container -->
</div>

<div>
    <div class="container" style="height:100px;">
        <footer class="footer" style="position:fixed;bottom:20px;">
            <p>© 2018 Company, Inc.</p>
        </footer>
    </div>
</div>

<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/jquery-1.11.3.js"></script>
<script src="/toptip/toptip.js"></script>
</body>
</html>

<script>
</script>
